@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&family=League+Spartan:wght@400;500&display=swap');

html, body {
  scroll-behavior: smooth;
}


.nav-active {
  position: sticky;
  background-color: #393E46;
}


.nav-links {
  transform: translateX(-200px);
  transition: all 0.5s linear;
}




.hamburger_active + .nav-links {
  display: flex;
  flex-direction: column;
  top: 4rem;
  left: 0;
  transform: translateX(0);
  background-color: #393E46;
  transition: all 0.5s linear;
  width: 100%;

}


.line {
  position: absolute;
  top: 10px;
  left: 0;
  height: 3px;
  width: 40px;
  background-color: #EEEEEE;
  z-index: 10;
  transition: all .5s linear;
}


  .line:before {
    content: "";
    position: absolute;
    left: 0;
    height: 3px;
    width: 50px;
    background-color: #EEEEEE;
    top: -10px;


  }

  .line::after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    height: 3px;
    width: 50px;
    background-color: #EEEEEE;

  }

  .hamburger_active .line {
    transform: rotate(60deg);
    width: 30px;
    left: 10px;
    transition: all .5s linear;
  }

  .hamburger_active .line::before {
    transform: rotate(60deg);
    top: 1px;
    width: 30px;

  }

  .hamburger_active .line::after {
    visibility: hidden;
  }


  .project_card:hover .show-project-github-link {
    left: 80px;
  }

  .project_card:hover .show-project-live-link {
    right: 80px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: #222831;
    z-index: 5;
    transform: translateY(-300px);
  }

  .project_card:hover .overlay {
    transform: translateY(0);

  }

 .link_overlay::after {
  background-color: #393E46;
  opacity: 0.7;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.3s linear;
  border-radius: 8px;
  transform: translateX(-250px);
 }

 .link_overlay:hover::after {
  transform: translateX(0);
 }